version: 2
defaults: &defaults
  docker:
    - image: circleci/python:3.6.2

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run: python3 -m venv env
      - run:
          name: Install dependencies
          command: |
            . env/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "env"
      - deploy:
          name: Deploy
          command: |
            git config user.email "senhorbardell@gmail.com"
            git config user.name "Vlad Rimsha"
            if [ "${CIRCLE_BRANCH}" == master ]; then
              . env/bin/activate
              ./bumpversion.sh patch
              git push --follow-tags
            fi
