version: 2
defaults: &defaults
  docker:
    - image: circleci/python:3.6.2

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Create virtual environment
          command: python3 -m venv env
      - deploy:
          name: Deploy
          command: |
            if [ "${CIRCLE_BRANCH}" == master ]; then
              ~/project/bumpversion.sh patch
            fi
